
body {
  background-color: #fcfcfb;
  color: #0b0b0b;
  font-family: "Noto Serif";
  min-height: 125vh;
}

header {
  font-size: 36px;
}

hr {
  height: 2px;
  background-color: #e4e4e3;
  border: none;
}

.food-image-container {
  margin-top: 26px;
  text-align: center;
}

.food-image {
  object-fit: cover;
  width: 500px;
  height: 400px;
  border-radius: 36px;
}

ol,ul {
  padding-left: 24px;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 2px 2px 0px 12px;
  background-color: #fcfcfc;
}

a {
  text-decoration: none;
}